EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=
EXPO_PUBLIC_OVERPASS_URL=
EXPO_PUBLIC_GOOGLE_CALENDAR_CLIENT_ID=
# run expo whoami (make sure to be logged in)
EXPO_PUBLIC_EXPO_USERNAME=
# this should be the same as the slug in app.config.json
EXPO_PUBLIC_APP_SLUG=

